@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  @apply leading-relaxed;
}

.shadow-flat {
  box-shadow: 4px 4px 0px #1a1a1a;
}

.shadow-btn {
  box-shadow: 2px 2px 0px #1a1a1a;
}

.header-service:hover {
  box-shadow: 0px 4px 0px #1a1a1a;
}
